# dependencies
/node_modules
**/node_modules

# next.js
/.next
/out
**/.next
**/out

# production
/build
**/build
**/dist

# misc
.DS_Store
*.pem
.eslintcache
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# vercel
.vercel
